<mat-card>
    <mat-card-header>
      <mat-form-field>
        <input matInput (keyup)="Filterchange($event)" placeholder="digite algum texto" />
      </mat-form-field>
      <button style="margin-left: 50%;" mat-raised-button color="primary" (click)="openAddEditColecaoForm()">Add Coleção (+)</button>
    </mat-card-header>
    <mat-card-content>
  
  
  <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <ng-container matColumnDef="Codigo">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Codigo</th>
        <td mat-cell *matCellDef="let element">{{element.codigo}}</td>
      </ng-container>
  
      <ng-container matColumnDef="Nome">
          <th mat-sort-header mat-header-cell *matHeaderCellDef> Nome</th>
          <td mat-cell *matCellDef="let element">{{element.nome}}</td>
      </ng-container>
  
        <ng-container matColumnDef="PeriodoIni">
            <th mat-sort-header mat-header-cell *matHeaderCellDef> PeriodoIni</th>
            <td mat-cell *matCellDef="let element">{{element.periodoIni}}</td>
        </ng-container>

        <ng-container matColumnDef="PeriodoFim">
            <th mat-sort-header mat-header-cell *matHeaderCellDef> PeriodoFim</th>
            <td mat-cell *matCellDef="let element">{{element.periodoFim}}</td>
        </ng-container>

        <ng-container matColumnDef="PecasMeta">
            <th mat-sort-header mat-header-cell *matHeaderCellDef> Meta Prod.</th>
            <td mat-cell *matCellDef="let element">{{element.pecasMeta}}</td>
        </ng-container>    

        <ng-container matColumnDef="QtdeModelos">
            <th mat-sort-header mat-header-cell *matHeaderCellDef> Qtde.Modelos</th>
            <td mat-cell *matCellDef="let element">{{element.qtdeModelos}}</td>
        </ng-container>

        
        <ng-container matColumnDef="ValorMeta">
            <th mat-sort-header mat-header-cell *matHeaderCellDef> Meta Fatur.</th>
            <td mat-cell *matCellDef="let element">{{element.valorMeta}}</td>
        </ng-container>              

        <ng-container matColumnDef="Ação">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ação </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="atualizarColecao(element.codigo)">  
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteColecao(element.codigo)"> 
              <mat-icon>delete</mat-icon>
            </button>    
            <button mat-icon-button color="primary" (click)="detailColecao(element.codigo)">  
                <mat-icon>assignment</mat-icon>
              </button>                   
          </td>
        </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
  
  </table>
  
  </mat-card-content>
  <br>
  <mat-card-footer>
  
      <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
  
  </mat-card-footer>
  </mat-card>
