<div mat-dialog-title>
    <h1>Cadastro de Tamanhos</h1>
</div>
<form [formGroup]="tamanhosForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Tamanho</mat-label>
                <input matInput type="text" id="tamanho" formControlName="tamanho">                
            </mat-form-field>
        </div>   
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Descrição do Tamanho</mat-label>
                <input matInput type="text" id="descricao" formControlName="descricao">                
            </mat-form-field>
        </div>                       
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Atualizar': 'Salvar'}}</button>
    </div>
</form>
