
    <mat-card class="card-class">
        <mat-card-header>
            <mat-card-title>Grupos</mat-card-title><br>                     
        </mat-card-header>
        <mat-card-actions>
            <button routerLink="/tabgrupo" mat-button>Cadastrar Grupos</button>
        </mat-card-actions>         
        <img mat-card-sm-image src="/assets/grupo.png"/>
        <mat-card-footer></mat-card-footer>        
    </mat-card>

    <mat-card class="card-class">
        <mat-card-header>
            <mat-card-title>Sub Grupos</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <button routerLink="/tabsubgrupo" mat-button>Cadastrar Sub Grupos</button>
        </mat-card-actions>          
        <img mat-card-sm-image src="/assets/subgrupo.png"/>
        <mat-card-footer></mat-card-footer>  
    </mat-card>   
    
    <mat-card class="card-class">
        <mat-card-header>
            <mat-card-title>Departamentos</mat-card-title><br>                     
        </mat-card-header>
        <mat-card-actions>
            <button routerLink="/tabdepartamento" mat-button>Cadastrar Departamentos</button>
        </mat-card-actions>         
        <img mat-card-sm-image src="/assets/departamento.png"/>
        <mat-card-footer></mat-card-footer>        
    </mat-card>    
    
    <mat-card class="card-class">
        <mat-card-header>
            <mat-card-title>Tipo de Produtos</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <button routerLink="/tabtipoproduto" mat-button>Cadastrar Tipo de Produtos</button>
        </mat-card-actions>          
        <img mat-card-sm-image src="/assets/tipoproduto.png"/>
        <mat-card-footer></mat-card-footer>    
    </mat-card>    

    <mat-card class="card-class">    
        <mat-card-header>
            <mat-card-title>Grifes</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <button routerLink="/tabgrifes" mat-button>Cadastro de Grifes</button>
        </mat-card-actions>         
        <img mat-card-sm-image src="/assets/grifes.png"/>
        <mat-card-footer></mat-card-footer>    
    </mat-card>

    <mat-card class="card-class">    
        <mat-card-header>
            <mat-card-title>Coleção</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <button routerLink="/tabcolecao" mat-button>Cadastro de Coleção</button>
        </mat-card-actions>           
        <img mat-card-sm-image src="/assets/colecao.png"/>
        <mat-card-footer></mat-card-footer>    
    </mat-card>    

    <mat-card class="card-class">    
        <mat-card-header>
            <mat-card-title>Cores</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <button routerLink="/tabcores" mat-button>Cadastro de Cores</button>
        </mat-card-actions>          
        <img mat-card-sm-image src="/assets/cores.png"/>
        <mat-card-footer></mat-card-footer>    
    </mat-card>  
    
    <mat-card class="card-class">    
        <mat-card-header>
            <mat-card-title>Tamanhos</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <button routerLink="/tabtamanhos" mat-button>Cadastro de Tamanhos</button>
        </mat-card-actions>          
        <img mat-card-sm-image src="/assets/tamanho.png"/>
        <mat-card-footer></mat-card-footer>    
    </mat-card>   
    
    <mat-card class="card-class">    
        <mat-card-header>
            <mat-card-title>Grade Tamanhos</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <button routerLink="/tabgradetamanhos" mat-button>Cad. Grade de Tamanhos</button>
        </mat-card-actions>           
        <img mat-card-sm-image src="/assets/grade.png"/>
        <mat-card-footer></mat-card-footer>            
    </mat-card> 

    <mat-card class="card-class">    
        <mat-card-header>
            <mat-card-title>Produtos</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button>Cadastro de Produto</button>
        </mat-card-actions>         
        <img mat-card-sm-image src="/assets/produtos.png"/>
        <mat-card-footer></mat-card-footer>    
    </mat-card> 

    <mat-card class="card-class">    
        <mat-card-header>
            <mat-card-title>Markup</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button>Cadastro de Markup</button>
        </mat-card-actions>          
        <img mat-card-sm-image src="/assets/markup.png"/>
        <mat-card-footer></mat-card-footer>    
    </mat-card> 
