<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Gerar Pagamentos</mat-card-title>
        <mat-card-subtitle>Gerar Pagamentos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="/assets/pagamento.png"/>
    <mat-card-footer></mat-card-footer>
</mat-card>

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Preço de Serviços</mat-card-title>
        <mat-card-subtitle>Cadastro Preço de Serviços</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="/assets/precoservico.png"/>
    <mat-card-footer></mat-card-footer>  
</mat-card> 

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Lote de Produção</mat-card-title>
        <mat-card-subtitle>Cadastro Lote de Produção</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="/assets/lotesproducao.png"/>
    <mat-card-footer></mat-card-footer>  
</mat-card> 

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Grifes</mat-card-title>
        <mat-card-subtitle>Cadastro de Grifes</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="/assets/grifesmoda.png"/>
    <mat-card-footer></mat-card-footer>  
</mat-card>

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Faixa Etária</mat-card-title>
        <mat-card-subtitle>Cadastro de Faixa Etária</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="/assets/faixaetaria.png"/>
    <mat-card-footer></mat-card-footer>  
</mat-card>

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Fases</mat-card-title>
        <mat-card-subtitle>Cadastro de Fases</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="/assets/faseproducao.png"/>
    <mat-card-footer></mat-card-footer>  
</mat-card>

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Fase de Produção</mat-card-title>
        <mat-card-subtitle>Fase de Produção</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="/assets/faseproduto.png"/>
    <mat-card-footer></mat-card-footer>  
</mat-card>

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Células</mat-card-title>
        <mat-card-subtitle>Cadastro de Células</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="/assets/celula.png"/>
    <mat-card-footer></mat-card-footer>  
</mat-card>

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Máquinas</mat-card-title>
        <mat-card-subtitle>Cadastro de Máquinas</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="/assets/maquina.png"/>
    <mat-card-footer></mat-card-footer>  
</mat-card>

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Etq. Composição</mat-card-title>
        <mat-card-subtitle>Etiq. de Composição</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="/assets/etiquetaprd.png"/>
    <mat-card-footer></mat-card-footer>  
</mat-card>

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Qualidade</mat-card-title>
        <mat-card-subtitle>Cadastro de Qualidade</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="/assets/qualidade.png"/>
    <mat-card-footer></mat-card-footer>  
</mat-card>

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Defeito</mat-card-title>
        <mat-card-subtitle>Cadastro de Defeito</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="/assets/defeito.png"/>
    <mat-card-footer></mat-card-footer>  
</mat-card>

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Processos de Produção</mat-card-title>
        <mat-card-subtitle>Processos de Produção</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="/assets/processo.png"/>
    <mat-card-footer></mat-card-footer>  
</mat-card>

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Processos de Operador</mat-card-title>
        <mat-card-subtitle>Processos de Operador</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="/assets/procoperador.png"/>
    <mat-card-footer></mat-card-footer>  
</mat-card>

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Processos de Máquina</mat-card-title>
        <mat-card-subtitle>Processos de Máquina</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="/assets/procmaquina.png"/>
    <mat-card-footer></mat-card-footer>  
</mat-card>

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Ficha Técnica de Produto Acabado</mat-card-title>
        <mat-card-subtitle>Ficha Técnica de P.A.</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="/assets/fichatc.png"/>
    <mat-card-footer></mat-card-footer>  
</mat-card>

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Ordem de Produção</mat-card-title>
        <mat-card-subtitle>Ordem de Produção</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="/assets/ordprd.png"/>
    <mat-card-footer></mat-card-footer>  
</mat-card>

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Andamento de Produção</mat-card-title>
        <mat-card-subtitle>Andamento de Produção</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="/assets/andproducao.png"/>
    <mat-card-footer></mat-card-footer>  
</mat-card>

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Grade de Processos</mat-card-title>
        <mat-card-subtitle>Grade de Processos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="/assets/gradprocesso.png"/>
    <mat-card-footer></mat-card-footer>  
</mat-card>



