<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Parâmetros</mat-card-title>
        <mat-card-subtitle>Cadastro de Parâmetros</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="/assets/cadparam.png"/>
    <mat-card-footer></mat-card-footer>  
</mat-card>

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Empresas</mat-card-title>
        <mat-card-subtitle>Cadastro de Empresas</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="/assets/cadempresa.png"/>
    <mat-card-footer></mat-card-footer>  
</mat-card>

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Usuários</mat-card-title>
        <mat-card-subtitle>Cadastro de Usuários</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="/assets/usuarios.png"/>
    <mat-card-footer></mat-card-footer>  
</mat-card>
